body{
	background-color: rgb(247, 247, 247);
}

/******** header - START ********/

header{
	padding: 5px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: radial-gradient(#f03131, #c01c1c);
}

header a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;
}

header a #selfie /** profile pic**/{
	margin: 10px 8px 20px;
	background-color: white;
	border-radius: 50%;
	width: 100%;
	max-width: 100px;
}

header #mobile-nav-button{
	margin: 10px 0;
	width: 40px;
}

@media (min-width: 594px){
	
	header{
		flex-direction: row;
		justify-content: space-between;
	}
		
	header a{
		flex-direction: row;
	}
	
	header #mobile-nav-button{
		margin: 0 15px;
		width: 40px;
	}
	
}

/******** header - END ********/






/******** #desk-nav - START ********/

#desk-nav{
	display: none;
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 900;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
}

#desk-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	margin-right: 25px;
	transition-duration: .1s;
	letter-spacing: 1px;
}

#desk-nav a:hover{
	transform: scale( 1.2, 1.2);
}

@media (min-width: 900px){

	#desk-nav{
		display: flex;
	}
	
}

/******** #desk-nav - END ********/







/******** #mobile-nav - START ********/

#mobile-nav{
	border-top: 1px solid #fff;
	width: 100%;
	background: radial-gradient(#f03131, #c01c1c);
	padding: 20px 0 20px 0;
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 900;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#mobile-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 35px;
	margin: 15px 0;
	letter-spacing: 2px;
}

@media (min-width: 900px){

	#mobile-nav{
		display: none;
	}
	
	#mobile-nav-button{
		display: none;
	}
	
}

/******** #mobile-nav - END ********/







/******** #main-content #greeting-container - START ********/

#main-content{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}

#main-content #greeting-container{
	width: 95%;
	max-width: 1300px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}

#main-content #greeting-container img{
	margin: 20px 0;
	width: 50%;
	max-width: 320px;
	align-self: flex-start;
}

#main-content #greeting-container p, 
#main-content #greeting-container a{
	width: 90%;
	font-size: 24px;
	line-height: 1.4;
	font-family: 'Roboto Flex', sans-serif;
	text-decoration: none;
}

#main-content #greeting-container a span{
	color: black;
}


#main-content #greeting-container #icon-container{
	width: 90%;
	max-width: 700px;
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#main-content #greeting-container #icon-container img{
	width: 100%;
	max-width: 80px;
	margin: 20px;
}


@media (min-width: 500px){

	#main-content #greeting-container img{
		margin: 30px 0 20px 0;
	}

	#main-content #greeting-container p,
	#main-content #greeting-container a{
		margin: 10px 0;
		font-size: 25px;
		line-height: 1.5;
	}

	#main-content #greeting-container #icon-container img{
		max-width: 90px;
	}
	
}

@media (min-width: 700px){

	#main-content #greeting-container p,
	#main-content #greeting-container a{
		margin: 15px 0;
		font-size: 27px;
		line-height: 1.5;
	}

	#main-content #greeting-container #icon-container img{
		max-width: 100px;
	}
	
}

@media (min-width: 900px){
	#main-content #greeting-container p,
	#main-content #greeting-container a{
		font-size: 30px;
	}

	/* #main-content #greeting-container #icon-container img{
		max-width: 110px;
	} */
}

@media (min-width: 1100px){

	#main-content #greeting-container p,
	#main-content #greeting-container a{
		font-size: 32px;
	}
	
	/* #main-content #greeting-container #icon-container img{
		max-width: 120px;
	} */
}

@media (min-width: 1300px){

	#main-content #greeting-container p,
	#main-content #greeting-container a{
		font-size: 34px;
	}
	#main-content #greeting-container #icon-container{
		margin: 15px 0;
	}
	
	/* #main-content #greeting-container #icon-container img{
		max-width: 130px;
	} */
}

/******** #main-content #greeting-container - END ********/






/******** #main-content #portfolio-container - START ********/

#main-content #portfolio-container{
	width: 95%;
	max-width: 1300px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}

#main-content #portfolio-container img{
	margin: 20px 0;
	width: 70%;
	max-width: 320px;
	align-self: flex-start;
}

#main-content #portfolio-container #web-design-portfolio-container,
#main-content #portfolio-container #adobe-illustrator-portfolio-container, 
#main-content #portfolio-container #adobe-photoshop-portfolio-container{
	width: 95%;
	max-width: 1300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	align-items: flex-start;
}

#main-content #portfolio-container #adobe-photoshop-portfolio-container{
	margin-bottom: 60px;
}

#main-content #portfolio-container #web-design-portfolio-container a,
#main-content #portfolio-container #adobe-illustrator-portfolio-container a, 
#main-content #portfolio-container #adobe-photoshop-portfolio-container a{
	width: 95%;
	margin: 10px;
	max-width: 450px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-decoration: none;
}

#main-content #portfolio-container #web-design-portfolio-container img, #main-content #portfolio-container #adobe-illustrator-portfolio-container img, #main-content #portfolio-container #adobe-photoshop-portfolio-container img{
	width: 100%;
	max-width: 450px;
	margin: 20px;
}

#main-content #portfolio-container #web-design-portfolio-container p,
#main-content #portfolio-container #adobe-illustrator-portfolio-container p,
#main-content #portfolio-container #adobe-photoshop-portfolio-container p{
	font-family: 'Roboto Flex', sans-serif;
	font-size: 1.3em;
	line-height: 1.2;
	color: black;
}

#main-content #portfolio-container #adobe-ill-text, #main-content #portfolio-container #adobe-photo-text{
	margin: 30px 0;
	max-width: 360px;
}

#main-content #portfolio-container #adobe-after-effects-text{
	max-width: 390px;
}

/******** #main-content #portfolio-container - END ********/






/******** footer - START ********/

footer{
	background-color: #c01c1c;
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#footer-nav{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-nav a{
	width: 39px;
	margin: 0 10px;
}

#footer-nav a img{
	width: 100%;
}

footer h4,
footer h4 span{
	font-size: 18px;
	margin-top: 23px;
	font-family: 'Roboto Flex', sans-serif;
}

@media (min-width: 400px){
	
	#footer-nav a{
		width: 49px;
		margin: 0 20px;
	}
	
}

/******** footer - END ********/