#MHIC, #license{
	color: #ff7f00/**orange**/;
	text-shadow: 0px 0px 2px #892b15/**red**/;
}

.service-page{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service-graphic{
	width: 100%;
	display: flex;
	justify-content: center;
}

.service-graphic a{
	margin: 20px 0 0;
	width: 97%;
	display: flex;
	justify-content: center;
}

.service-graphic a img{
	width: 100%;
	height: 100%;
	max-width: 556px;
}

.page-header{
	width: 100%;
	display: flex;
	justify-content: center;
}

.service-page h1{
	color: #892b15/**red**/;
	text-shadow: 0px 0px 2px #ff7f00/**orange**/;
	font-family: Meri-Bold;
	text-align: center;
}

.page-header h1{
	padding: 20px 0;
	font-size: 27px;
	width: 90%;
	text-align: center;
	line-height: 1.1;
}

.before-after-box{
	box-shadow: 0 0 23px #ff7f00/**orange**/;
	background-color: #892b15/**red**/;
	margin: 10px 0;
	padding: 18px 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.before-box, .after-box{
	width: 80%;
	margin: 5px 0;
}

.main-headline{
	display: flex;
	justify-content: center;
	width: 90%;
}

.main-headline h1{
	line-height: 1.3;
	margin-bottom: 10px;
	text-align: center;
	font-size: 27px;
	color: #ff7f00/**orange**/;
	text-shadow: 0px 0px 8px #ffdb43/**yellow**/;
}

.before-box img, .after-box img{
	border-radius: 5%;
	width: 100%;
	margin: 5px 0;
}

.before-box h2, .after-box h2{
	text-align: center;
	font-size: 26px;
	color:#ff7f00/**orange**/;
	text-shadow: 0px 0px 4px #ff7f00/**orange**/;
	font-family: Meri-Reg;
}

.service-info{
	width: 100%;
	display: flex;
	justify-content: center;
}

.service-info h1{
	margin: 30px 0;
	color: #892b15/**red**/;
	text-shadow: 0px 0px 4px #ff7f00/**orange**/;
	line-height: 1.1;
	width: 95%;
	font-size: 26px;
}

.lightbox-header{
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 9px solid #892b15/**red**/;
	border-bottom: 3px solid #892b15/**red**/;
	background-color: #e7d4d0/**lt-red**/;
}

.lightbox-header h1{
	font-size: 23px;
	margin: 10px 0;
	color: #892b15/**red**/;
}

.lightbox-cont-main{
	background-color: #f5edec /**lt-lt-red**/;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lightbox-cont{
	padding: 10px 0;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.lightbox-cont a{
	width: 100px;
	height: 100%;
	margin: 10px 10px;
}

.lightbox-cont a.landscape{
	width: 180px;
}

.lightbox-cont img{
	width: 100%;
}

.lightbox-info{
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 3px solid #892b15/**red**/;
	border-bottom: 9px solid #892b15/**red**/;
	background-color: #e7d4d0/**lt-red**/;
}

.lightbox-info h1{
	width: 90%;
	margin: 10px 0;
	font-size: 17px;
	color: #892b15/**red**/;
}

.pro-services-header{
	margin-top: 15px;
}

.free-estimate{
	margin-bottom: 10px;
}

