.seminars-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h1{
	width: 90%;
	font-family: 'Montserrat', sans-serif;
	font-size: 33px;
}

.seminars-about-text{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.seminars-about-text h1{
	font-family: 'Carter One', serif;
	text-shadow: 2px 2px 2px #d8d8d8;
	font-size: 22px;
	margin: 20px 0 0;
}

.about-my-seminars-text-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.about-my-seminars-text{
	width: 90%;
}

.seminars-about-text p{
	width: 90%;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 1.4;
	margin-top: 15px;
}


.about-my-seminars-text p{
	width: 100%;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 1.4;
	margin-top: 15px;
}

.seminars-about-text p span{
	font-size: 19px;
}

.seminars-main{
	margin: 25px 15px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seminar{
	margin: 5px 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.seminar-name, .seminar-level, .seminar-type, .seminar-sub-type, .seminar-description{
	border: 1px solid black;
	border-radius: 10%;
	margin: 1px;
	display: flex;
}

.seminar-name{
	width: 100%;
	max-width: 250px;
	background-color: #FF796D;
}

.seminar-level{
	width: 52%;
	max-width: 100px;
	background-color: #ff938a;
}

.seminar-type{
	width: 45%;
	max-width: 100px;
	background-color: #ffaea7;
}

.seminar-sub-type{
	width: 50%;
	max-width: 120px;
	background-color: #ffc9c4;
}

.seminar-description{
	width: 100%;
	max-width: 490px;
	background-color: #ffe4e1;
}

#seminar-main-title{
	font-size: 22px;	
	padding: 9px 5px;
}

.seminar-name p, .seminar-level p, .seminar-type p, .seminar-sub-type p, 
.seminar-description p{
	font-family: 'Slabo 27px', serif;
	margin: auto;
	padding: 8px 4px;
	color: black;
	text-align: center;
	font-size: 18px;
	line-height: 1.1;
}

.seminar-name p{
	color: white;
	font-size: 19px;
}

.seminar-level p{
	font-size: 19px;
}

.seminar-description p{
	padding: 8px 20px;
}

